<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <div id="uv"></div>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
        var uv;

        function setupUV() {
          var data = {
          };

          uv = UV.init("uv", data);
        }

        setupUV();
      });
    </script>
  </body>
</html>
